nav.navbar.navbar-expand-sm.navbar-dark.bg-dark
  .container-fluid
    a.navbar-brand(routerLink="/") heute
    
    //-
      span.navbar-toggler-icon
  //-
    .collapse.navbar-collapse(id="navbarSupportedContent")
      ul.navbar-nav.me-auto.mb-2.mb-lg-0
        li.nav-item
          a.nav-link(routerLinkActive="active" aria-current="page" routerLink="/tasks") Tasks
        li.nav-item
          a.nav-link(routerLinkActive="active" aria-current="page" routerLink="/about") About
