hr

span(*ngFor="let club of clubs")
    a((click)="open(club)")
        div.event.centered
            h4 {{ club.name }}
            div(*ngIf="!club.event") keine versanstaltung
            div(*ngIf="club.event") {{ club.event.event_description }}

